@model PagedList.IPagedList<PremierLeagueApp.Data.Models.News>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h4>
    @Html.ActionLink("Create", "Create")
</h4>
<table class="table">
    <tr>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Club)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().ImageUrl)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th class="col-md-3">
            @Html.DisplayNameFor(model => model.First().Content)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().CreatedOn)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().ModifiedOn)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().IsDeleted)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.First().DeletedOn)
        </th>
        <th class="col-md-1">
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <div id="content">
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })<br />
                @Html.ActionLink("Details", "Details", new { id = item.Id })<br />
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
