@model PremierLeagueApp.Web.ViewModels.Home.NewsViewModel
@{
    ViewBag.Title = "ById";
}

<div>
    @Model.Image
</div>
<div>
    @Model.Title
</div>
<div>
    @Model.Content
</div>
<div>
    @Model.CreatedOn
</div>>
<div>
    @Model.Club
</div>
